body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.page{
	height: 100vh;
	width: 100vw;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#gif{
	top: -50px;
	left: -50px;
	height: 100vh;
	width: 100vw;

}

#welcome{
	height: 100vh;
	width: 100vw;
}

#title{
	font-size: 80px;
	margin-bottom: 0;
	text-align: center;
	position: relative;
  	top: 25%;

 }

 #blurb{
 	margin-top: 0px;
 	font-size: 60px;
 	text-align: center;
	position: relative;
  	top: 25%;
 }

 .navbar{
 	z-index: 30;
 }

 .down{
 	position: relative;
 	max-width: 300px;
 	max-height: 80px;
 	margin-top: 10px;
 	left: 50%;
 }